* {
  margin: 0;
  padding: 0;
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #eeeeee;
  --basic-lighter-gray: #d9eaf2;
  --basic-dark: #333333;
  --basic-darker-dark: #231f20;
  --basic-lighter-dark: #666666;
  --basic-lightest-dark: #f2f2f2;
  --basic-light-brown: #847870;
  --basic-brown: #766357;
  --basic-darker-brown: #604e43;
  --basic-darkest-brown: #503e33;
  --basic-lighter-blue: #6789ae;
  --basic-lightest-blue: #9cb9e3;
  --basic-blue: #81b3d2;
  --basic-darker-blue: #669ec0;
  --basic-darkest-blue: #5496BD;
  --basic-lighter-green: #9daa96;
  --basic-green: #9eb46e;
  --basic-light-orange:  #e6b29c;
  --basic-light-violet: #bdbbbc;
  --basic-pink:  #f6b4da;
  --basic-swamp: #888888;;
}

/*For all*/

body {
  min-width: 960px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
}

.wrapper {
  background-color: var(--basic-lightest-dark);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.container {
  width: 1200px;
}

.button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
}

.blue-background {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.brown-background {
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

/*index classes*/

/*heading-navigation*/

.main-navigation-wrapper {
  background-color: var(--basic-white);
}

.header-item a {
  font-weight: 700;
  color: var(--basic-black);
}

.header-item a:hover {
  color: var(--basic-blue);
}

.header-item a:focus {
  color: var(--basic-brown);
}

.header-item a:active {
  opacity: 30%;
}

.header-item-active a{
  color: var(--basic-brown);
  font-weight: 700;
  pointer-events: none;
  cursor: default;
  user-select: none;
}

/*section-banner*/

.section-banner {
  text-align: center;
  width: 1200px;
  height: 509px;
  background: var(--basic-lighter-gray) url("../img/background-photo.jpg");
}

/*section-info*/

.section-info {
  text-align: center;
}

.heading-info {
  font-size: 21px;
  line-height: 26px;
}

.text-info {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark);
}

/*arcticles*/

.article-sites {
  text-align: center;
}

.heading-sites {
  font-size: 21px;
  line-height: 21px;
}

.text-sites {
  font-size: 14px;
  line-height: 21px;
}

.img-view-sites {
  background-color: var(--basic-light-green);
}

.imf-bridge-sites {
  background-color: var(--basic-light-orange);
}

.gray-color {
  background-color: var(--basic-gray);
}

/*features*/

.item-features {
  text-align: center;
}

.head-features {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.text-features {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark);
}

/*search*/

.section-search {
  text-align: center;
}

.heading-search {
  font-size: 30px;
  line-height: 24px;
}

.text-search {
  color: var(--basic-dark);
}

.button-form-search {
  background-color: var(--basic-brown);
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  border: none;
  text-transform: uppercase;
}

.button-form-search:hover {
  background-color: var(--basic-darker-brown);
}

.button-form-search:active {
  background-color: var(--basic-darker-brown);
}

.button-text-opacity-search:active {
  opacity: 30%;
}

/*footer*/

.footer {
  background-color: var(--basic-white);
}

.footer-item {
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-item:hover {
  background-color: var(--basic-darker-blue);
}

.footer-item:active {
  background-color: var(--basic-darkest-blue);
}

.footer-item:active .footer-item-icon path {
  opacity: 30%;
}

.footer-academy-logo-creators {
  color: var(--basic-darker-dark);
}

.footer-academy-logo-creators:hover {
  color: var(--basic-blue);
}

.footer-academy-logo-creators:active {
  color: var(--basic-light-violet) ;
}

/*contact*/

.contact {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.contact-phone {
  color: var(--basic-black);
}

/*creaters*/

/*catalog classes*/

/*control-form*/

.control-form {
  background-image: url(../img/background.jpg);
  background-color: var(--basic-lighter-blue);
  color: var(--basic-white);
}

.fields-control {
  font-size: 14px;
  line-height: 21px;
  border: 0;
}

.heading-control {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.label-control {
  font-size: 14px;
  line-height: 21px;
}

.input-range-control {
  width: 316px;
  height: 2px;
}

.button-control {
  font-size: 14px;
  line-height: 21px;
  border: 1px solid var(--basic-white);
  border-color: var(--basic-white);
  text-transform: uppercase;
}

/*filter*/

.filter {
  background-color: var(--basic-white);
}

.answer-filter {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.heading-filter {
  font-size: 12px;
  line-height: 18px;
}

.button-filter:hover path{
  fill: var(--basic-black);
}

.button-filter:active path{
  fill: var(--basic-blue);
}

.button-filter-active path{
  fill: var(--basic-blue);
}

.filter-item a {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-light-brown);
  border-bottom: 1px var(--basic-blue) dotted;
}

.filter-item-active a {
  color: var(--basic-blue);
  border: none;
}

.filter-item a:hover {
  color: var(--basic-blue);
}

.filter-item a:active {
  color: var(--basic-black);
  border-bottom: 0px;
}

.filter-item a:focus {
  color: var(--basic-blue);
  border-bottom: 0px;
}

/*sortedBlock*/

.sortedBlock {
  background-color: var(--basic-white);
}

.img-Layer1-sortedBlock {
  background-color:var(--basic-pink);
}

.img-Layer2-sortedBlock {
  background-color: var(--basic-lightest-blue);
}

.img-Layer3-sortedBlock {
  background-color:var(--basic-green);
}

.button-sortedBlock {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  border: 0;
}

.btn-blue-sortedBlock:hover {
  background-color: var(--basic-darker-blue);
}

.btn-blue-sortedBlock:active {
  background-color: var(--basic-darkest-blue);
}

.btn-blue-sortedBlock:active span {
  opacity: 30%;
}

.btn-brown-sortedBlock:hover {
  background-color: var(--basic-darker-brown);
}

.btn-brown-sortedBlock:active {
  background-color: var(--basic-darkest-brown);
}

.btn-brown-sortedBlock:active span {
  opacity: 30%;
}

.heading-sortedBlock a {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.heading-sortedBlock a:hover {
  color: var(--basic-blue);
}

.heading-sortedBlock a:active {
  opacity: 30%;
}

.title-sortedBlock {
  font-size: 14px;
  line-height: 21px;
}

.rating-sortedBlock {
  width: 110px;
  height: 27px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark);
  background-color: var(--basic-lightest-dark);
}
