html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #eeeeee;
  --basic-lighter-gray: #d9eaf2;
  --basic-dark: #333333;
  --basic-darker-dark: #231f20;
  --basic-lighter-dark: #666666;
  --basic-lightest-dark: #f2f2f2;
  --basic-light-brown: #847870;
  --basic-brown: #766357;
  --basic-darker-brown: #604e43;
  --basic-darkest-brown: #503e33;
  --basic-lighter-blue: #6789ae;
  --basic-lightest-blue: #9cb9e3;
  --basic-blue: #81b3d2;
  --basic-darker-blue: #669ec0;
  --basic-darkest-blue: #5496bd;
  --basic-lighter-green: #9daa96;
  --basic-green: #9eb46e;
  --basic-light-orange: #e6b29c;
  --basic-light-violet: #bdbbbc;
  --basic-pink: #f6b4da;
  --basic-swamp: #888888;
}

/*For all*/

html {
  height: 100%;
}

body {
  min-width: 960px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;

  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--basic-lightest-dark);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.wrapper {
  background-color: var(--basic-lightest-dark);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  background-color: var(--basic-white);
}

li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  cursor: pointer;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
}

.blue-background {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.brown-background {
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.gray-color {
  background-color: var(--basic-gray);
}

.white-color {
  background-color: var(--basic-white);
}

.page {
  height: 100%;
}

/*index classes*/

/*heading-navigation*/

.main-navigation-wrapper {
  display: grid;
  height: 56px;
  grid-template-columns: 1fr min-content;
  background-color: var(--basic-white);
  padding: 0 72px;
}

.header-list {
  display: flex;
  justify-content: space-between;
}

.container-header {
  display: grid;
}

.header-item {
  display: flex;
  align-items: center;
  position: relative;
}

.header-item a {
  font-weight: 700;
  color: var(--basic-black);
}

.header-item a:hover {
  color: var(--basic-blue);
}

.header-item a:focus {
  color: var(--basic-brown);
}

.header-item a:active {
  opacity: 30%;
}

.header-item-active a {
  color: var(--basic-brown);
  font-weight: 700;
  pointer-events: none;
  cursor: default;
  user-select: none;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
}
/*section-banner*/

.section-banner {
  position: relative;
  text-align: center;
  display: flex;
  width: 1200px;
  height: 509px;
  background: var(--basic-lighter-gray) url("../img/background-photo.jpg");
}

.img-banner {
  margin: auto;
}

.triangle-left {
  width: 0;
  height: 0;
  border-bottom: 56px solid var(--basic-white);
  border-right: 550px solid transparent;
  position: absolute;
  bottom: 0;
}

.triangle-left--second {
  left: 20px;
  left: 250px;
  border-right-width: 347px;
}

.triangle-right {
  width: 0;
  height: 0;
  border-bottom: 56px solid var(--basic-white);
  border-left: 550px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

.triangle-right--second {
  right: 20px;
  right: 250px;
  border-left-width: 347px;
}

/*section-info*/

.section-info {
  background-color: var(--basic-white);
  padding: 43px 356px 50px;
}

.heading-info {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  position: relative;
  right: 4px;
  font-weight: 700;
}

.text-info {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-dark);
  margin-top: 43px;
}

/*arcticles-sites*/

.section-sites-house {
  display: flex;
  margin: 0px;
}

.section-sites-bridge {
  display: flex;
  margin: 0px;
}

.article-sites {
  text-align: center;
  padding: 48px 48px 55px;
}

.heading-sites {
  font-size: 21px;
  line-height: 21px;
  width: 150px;
  margin: 0 auto 25px;
  font-weight: 700;
}

.text-sites {
  font-size: 14px;
  line-height: 21px;
}

.text-sites + .text-sites {
  margin-top: 23px;
}

.img-view-sites {
  background-color: var(--basic-light-green);
}

.imf-bridge-sites {
  background-color: var(--basic-light-orange);
}
/*features*/

.section-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main-advantages-features {
  background-color: var(--basic-white);
}

.item-features {
  text-align: center;
  padding: 60px 40px 73px;
}

.head-features {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin: 19px 0 30px;
}

.text-features {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-dark);
  margin: 0 10px;
}

/*search*/

.section-search {
  text-align: center;
  background-color: var(--basic-white);
  padding: 54px 318px 0;
}

.heading-search {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  right: 5px;
}

.text-search {
  color: var(--basic-dark);
  padding: 29px 0 40px 0;
  position: relative;
  left: 1px;
  top: 3px;
}

.button-form-search {
  background-color: var(--basic-brown);
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  border: none;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 700;
  cursor: pointer;
}

.button-form-search:hover {
  background-color: var(--basic-darker-brown);
}

.button-form-search:active {
  background-color: var(--basic-darker-brown);
}

.button-text-opacity-search {
  padding: 30px 125px;
}

.button-text-opacity-search:active {
  color: rgba(255, 255, 255, 0.3);
}

/*footer*/

.footer {
  height: 130px;
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  justify-content: center;
}

.footer-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-item {
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.creators-title {
  position: relative;
  right: 8px;
  top: 11px;
}

.footer-item-container + .footer-item-container {
  padding-left: 6px;
}

.footer-item:hover {
  background-color: var(--basic-darker-blue);
}

.footer-item:active {
  background-color: var(--basic-darkest-blue);
}

.footer-item:active .footer-item-icon path {
  opacity: 30%;
}

.footer-academy-logo-creators {
  color: var(--basic-darker-dark);
}

.footer-academy-logo-creators:hover {
  color: var(--basic-blue);
}

.footer-academy-logo-creators:active {
  color: var(--basic-light-violet);
}

/*contact*/

.contact {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.contact-title {
  position: relative;
  bottom: 10px;
}

.contact-phone {
  color: var(--basic-black);
}

/*creaters*/

.creators {
  margin: auto;
  display: flex;
}

/*catalog classes*/

/*control-form*/

.control-form {
  background-image: url(../img/background.jpg);
  background-color: var(--basic-lighter-blue);
  color: var(--basic-white);
  display: flex;
  padding: 26px 72px;
}

.fields-control-range {
  margin-left: auto;
}

.fields-control-item {
  /* margin-top: 23px; */
}

.label-control {
  user-select: none;
  display: flex;
  margin-top: 23px;
  cursor: pointer;
}

.label-control::before {
  content: "";
  display: block;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  width: 26px;
  height: 23px;
  margin-right: 13px;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"]:checked + .label-control::before {
  background-image: url("../img/checkbox-on.svg");
}

.grid-control {
  display: flex;
}

.fields-control {
  line-height: 21px;
  font-size: 14px;
}

.fields-control + .fields-control {
  margin-left: 120px;
}

.outputs-range {
  border: 2px solid;
  border-radius: 2px;
  margin-top: 10px;
  display: flex;
}

.heading-control {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  position: relative;
  bottom: 4px;
}

.label-range {
  font-size: 14px;
  line-height: 21px;
  padding: 0 52px;
}

.label-range-start {
  padding: 5px 64px;
  position: relative;
}

.label-range-start::after {
  content: "";
  display: block;
  width: 2px;
  height: 22px;
  background: white;
  position: absolute;
  right: -4px;
  top: 5px;
}

.label-range-end {
  padding: 5px 49px 5px 55px;
}

.input-range-control {
  width: 316px;
  height: 2px;
}

.button-range {
  display: block;
  margin: 34px auto 0;
  font-size: 14px;
  line-height: 21px;
  border: 2px solid var(--basic-white);
  border-color: var(--basic-white);
  text-transform: uppercase;
  padding: 5px 35px;
  border-radius: 2px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-controls {
  position: relative;
  padding-top: 20px;
  border-radius: 5px;
}

.scale {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 80%,
    rgba(255, 255, 255, 0.3) 80%
  );
  width: 317px;
}

.bar {
  width: 80%;
  height: 2px;
}

.toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 3px;
  height: 3px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.toggle-max {
  left: 80%;
}

/*filter*/

.filter {
  background-color: var(--basic-white);
  height: 86px;
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
}

.flex-filter {
  display: flex;
  width: 530px;
  justify-content: space-between;
}

.answer-filter {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
}

.heading-filter {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
}

.filter-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-sorted {
  display: flex;
}

.button--margin-left {
  margin-left: 12px;
}

.button-filter:hover path {
  fill: var(--basic-black);
}

.button-filter:active path {
  fill: var(--basic-blue);
}

.button-filter-active path {
  fill: var(--basic-blue);
}

.filter-item {
  display: flex;
  align-items: center;
}

.filter-item a {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-light-brown);
  border-bottom: 1px var(--basic-blue) dotted;
}

.filter-item-active a {
  color: var(--basic-blue);
  border: none;
}

.filter-item a:hover {
  color: var(--basic-blue);
}

.filter-item a:active {
  color: var(--basic-black);
  border-bottom: 0px;
}

.filter-item a:focus {
  color: var(--basic-blue);
  border-bottom: 0px;
}

/*sortedBlock*/

.sortedBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--basic-white);
}

.article-sortedBlock {
  display: flex;
  padding: 30px 72px;
}

.description-sortedBlock {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 6px;
  margin-left: 29px;
}

.reviews-sortedBlock {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars {
  align-self: flex-end;
}

.img-Layer1-sortedBlock {
  background-color: var(--basic-pink);
}

.img-Layer2-sortedBlock {
  background-color: var(--basic-lightest-blue);
}

.img-Layer3-sortedBlock {
  background-color: var(--basic-green);
}

.sortedBlock-bottom-solid {
  border-bottom: 1px solid #e5e5e5;
}

.button-sortedBlock {
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  border: 0;
  text-transform: uppercase;
  padding: 3px 16px;
}

.btn-blue-sortedBlock:hover {
  background-color: var(--basic-darker-blue);
}

.btn-blue-sortedBlock:active {
  background-color: var(--basic-darkest-blue);
}

.btn-blue-sortedBlock:active span {
  opacity: 30%;
}

.btn-brown-sortedBlock:hover {
  background-color: var(--basic-darker-brown);
}

.btn-brown-sortedBlock:active {
  background-color: var(--basic-darkest-brown);
}

.btn-brown-sortedBlock:active span {
  opacity: 30%;
}

.heading-sortedBlock {
  grid-column: 1/3;
}

.heading-sortedBlock a {
  color: var(--basic-black);
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.heading-sortedBlock a:hover {
  color: var(--basic-blue);
}

.heading-sortedBlock a:active {
  opacity: 30%;
}

.title-sortedBlock {
  font-size: 14px;
  line-height: 21px;
}

.rating-sortedBlock {
  width: 110px;
  height: 27px;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: var(--basic-dark);
  background-color: var(--basic-lightest-dark);
  text-align: center;
}

.modal-login {
  display: none;
  top: 120px;
  bottom: auto;
  width: 300px;
  padding: 50px 80px;
}

.modal-login h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.modal-description {
  margin: 0;
  margin-bottom: 10px;
}

/* Modal map */

.map-img {
  background-image: url(../img/map.jpg);
  height: 474px;
}

.query-form {
  position: absolute;
  background: #fff;
  padding: 55px 55px 50px;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}

.query-form input {
  font-size: 14px;
  font-weight: bold;
  line-height: inherit;
  text-transform: uppercase;
  height: 38px;
}

.query-form__control {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.query-form__control-label {
  width: 112px;
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
}

.query-form__control-date {
  box-sizing: border-box;
  padding: 0 0 0 10px;
  background: #f2f2f2;
  border: 2px solid #f2f2f2;
  flex-grow: 1;
}

.query-form__control-date:hover {
  background: #ebebeb;
  border: 2px solid #ebebeb;
}

.query-form__control-date:focus {
  outline: none;
  background: #fff;
  border: 2px solid #e5e5e5;
}

.calendar-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #a9a9a9;
}

.calendar-icon:hover {
  color: #000;
}

.calendar-icon:active {
  color: #81b3d2;
}

.query-form__control-wrapper {
  display: flex;
}

.button-count {
  background: #f2f2f2;
  color: #a9a9a9;
  display: flex;
  align-items: center;
  padding: 14px;
  width: auto;
  cursor: pointer;
}

.button-count:hover {
  color: #000;
}

.button-count:active {
  color: #81b3d2;
}

.query-form__control--count + .query-form__control--count {
  margin-left: auto;
}

.query-form__control--count
  + .query-form__control--count
  .query-form__control-label {
  width: 65px;
}

.query-form__control-number {
  background: #f2f2f2;
  width: 30px;
  text-align: center;
  border: 0;
}

.query-form__control--count {
  margin-bottom: 0;
  width: auto;
}

.query-form__sumbit {
  width: 100%;
  margin-top: 54px;
  padding: 16px 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
  background: #81b3d2;
  color: #fff;
}

.query-form__sumbit:hover {
  background: #669ec0;
}

.query-form__sumbit:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

details {
  position: relative;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
